/* * {
  border: solid pink;
} */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.input-i {
  border-bottom: 1px solid gray;
  height: 28px;
  margin-top: 4px;
}

.search-i {
  margin-right: 10px;
}